# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
env/
venv/
ENV/
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local config (token va parol yozilgan fayllar)
config.json
config.py
