# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
ENV/

# Database files
*.db
*.sqlite3

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE configs
.vscode/
.idea/

# Big files (tasodifan yuklanmasin)
*.exe
*.pkg
*.zip
*.rar
*.mp3
*.mp4
